
===============================================================================
Welcome to your Project Factory server
More info: http://www.project-factory.fr

Instance user: %{PF_USER}
Instance root: %{PF_ROOT}
===============================================================================

