#!/bin/sh
#
# Proxy Configuration
#

PROXY_HOST="%{PROXY_HOST}"
PROXY_PORT="%{PROXY_PORT}"
if [ -n "$PROXY_HOST" -a -n "$PROXY_PORT" ] && [ "$PROXY_PORT" -gt 0 ]; then
	export HTTP_PROXY="http://$PROXY_HOST:$PROXY_PORT"
	export http_proxy="http://$PROXY_HOST:$PROXY_PORT"
	export HTTPS_PROXY="http://$PROXY_HOST:$PROXY_PORT"
	export https_proxy="http://$PROXY_HOST:$PROXY_PORT"
	export FTP_PROXY="http://$PROXY_HOST:$PROXY_PORT"
	export ftp_proxy="http://$PROXY_HOST:$PROXY_PORT"
fi
