#!/bin/bash

[ "$1" = "0" ] || exit 0
[ -e "@{product.bin}/loadenv.sh" ] && source "@{product.bin}/loadenv.sh"

# Log start
INSTALL_LOG="@{product.log}/system/core/install.log"
echo "[$(date --rfc-3339=seconds)] @{package.name}-@{package.version}-@{package.release}.@{product.release}.@{system.distribution} preremove start" >> "$INSTALL_LOG"

# Execute script
SCRIPT_OUTPUT=`mktemp`
(
	: # Package removal
\#include( "src/main/scripts/preremove.sh" )
) > "$SCRIPT_OUTPUT" 2>&1

# Handle script result
SCRIPT_RET=$?
if [ $SCRIPT_RET -ne 0 ]; then
	cat "$SCRIPT_OUTPUT" | tee -a "$INSTALL_LOG"
	rm -f "$SCRIPT_OUTPUT"
	echo "[$(date --rfc-3339=seconds)] @{package.name}-@{package.version}-@{package.release}.@{product.release}.@{system.distribution} preremove failure" >> "$INSTALL_LOG"
else
	cat "$SCRIPT_OUTPUT" >> "$INSTALL_LOG"
	rm -f "$SCRIPT_OUTPUT"
	echo "[$(date --rfc-3339=seconds)] @{package.name}-@{package.version}-@{package.release}.@{product.release}.@{system.distribution} preremove success" >> "$INSTALL_LOG"
fi
exit $SCRIPT_RET
