#!/bin/bash

if [ -e "@{product.bin}/loadenv.sh" ]; then
	. "@{product.bin}/loadenv.sh"
fi

if [ "$1" = "install" -o "$1" = "upgrade" ]; then
	: # Package install/upgrade
	getent group "@{package.group}" >/dev/null || groupadd -r "@{package.group}"
	getent passwd "@{package.user}" >/dev/null || if [ "@{package.user}" = "@{product.user}" ]; then
		mkdir -p `dirname "@{package.root}"`
		useradd -g "@{package.group}" -d "@{package.root}" -c "@{product.name}" -s /bin/bash -m -r "@{package.user}"
	else
		useradd -g "@{package.group}" -d "@{package.root}" -c "@{product.name} @{project.artifactId}" -s /sbin/nologin -M -r "@{package.user}"
	fi

	SCRIPT_OUTPUT=`mktemp`
	(
		: # Package install/upgrade
\#include( "src/main/scripts/preinstall.sh" )
	) > "$SCRIPT_OUTPUT" 2>&1
	SCRIPT_RET=$?
	if [ $SCRIPT_RET -ne 0 ]; then
		cat "$SCRIPT_OUTPUT"
		rm -f "$SCRIPT_OUTPUT"
		exit $SCRIPT_RET
	else
		rm -f "$SCRIPT_OUTPUT"
	fi
fi
