[ittb-oss-releases]
name=iT-Toolbox OSS Releases
baseurl=https://cgi.it-toolbox.fr/repos/yum/oss-releases/el6/
enabled=%{ITTB_OSS_REPO_RELEASES_ENABLED}
protect=0
gpgcheck=0
sslverify=0
metadata_expire=30s
autorefresh=1
type=rpm-md

[ittb-oss-snapshots]
name=iT-Toolbox OSS Snapshots
baseurl=https://cgi.it-toolbox.fr/repos/yum/oss-snapshots/el6/
enabled=%{ITTB_OSS_REPO_SNAPSHOTS_ENABLED}
protect=0
gpgcheck=0
sslverify=0
metadata_expire=30s
autorefresh=1
type=rpm-md
